# База нанных, точно никому кроме меня не нужно.
DB_apple.sql

# не обрабатывать файлы, имя которых заканчивается на .o или .a
*.[oa]

# игнорировать все файлы заканчивающиеся на тильду.
*~

# игноринуем библиотеки js
js/jquery-1.9.0.min.js
js/jquery.accordion.js
js/jquery.cookie.js
