*{margin: 0; padding: 0;}
.wrapper {
  width: 1300px;
  margin: auto;
}
.sidebar{
  float: left;
  width: 300px;
}

.content{
  float: left;
  width: 1000px;
}
ul{
  list-style: none;
}
.category ul {
  padding-left: 20px;
}
